@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
}

/* Переменные для светлой темы */
:root, [data-bs-theme="light"] {
    --bs-body-bg: #e6eaee;  /* Светлый 0 цвет */
    --bs-second-bg: #f8f9fa; /* Светлый 1 цвет */
    --bs-second-bg-active: #f8f9fa; /* Светлый 1 цвет - нажатие */
    --bs-third-bg: #dbdbdb; /* Светлый 2 цвет */

    --bs-body-color: #575757; /* Цвет текста */
    --bs-body-second-color: #646464; /* Второй цвет текста */

    --bs-accent-color: #49e2c1; /* Зеленый */
    --bs-red-color: #e24949; /* Красный */
    --bs-warning-color: #E2B749; /* Оранжевый */

    --bs-accent-color-hover: #2ea188; /* Зеленый - наведение */
    --bs-red-color-hover: #bd3d3d; /* Красный - наведение */
    --bs-warning-color-hover: #b6933b; /* Оранжевый - наведение */

    --bs-shadow: rgba(172, 170, 170, 0.2); /* Тень */
    --bs-white-color: #FFFFFF;
}

/* Переменные для темной темы */
[data-bs-theme="dark"] {
    color-scheme: dark; /* Объявляем цветовую схему для браузера */
    --bs-body-bg: #161617; /* Темный 0 цвет */
    --bs-second-bg: #232324; /* Темный 1 цвет */
    --bs-second-bg-active: #222224; /* Светлый 1 цвет - нажатие */
    --bs-third-bg: #2f2d2f; /* Темный 2 цвет */

    --bs-body-color: #c9cccf; /* Цвет текста */
    --bs-body-second-color: #b0b0b0; /* Второй цвет текста */

    --bs-accent-color: #49e2c1; /* Зеленый */
    --bs-red-color: #e24949; /* Красный */
    --bs-warning-color: #E2B749; /* Оранжевый */

    --bs-accent-color-hover: #2ea188; /* Зеленый - наведение */
    --bs-red-color-hover: #bd3d3d; /* Красный - наведение */
    --bs-warning-color-hover: #b6933b; /* Оранжевый - наведение */

    --bs-shadow: rgba(0, 0, 0, 0.2); /* Тень */
    --bs-white-color: #FFFFFF;
}

body, html {
    width: 100%;
    height: 100%;
    overflow: hidden; /* Убираем прокрутку у body */
    background-color: var(--bs-body-bg); /* Используем переменную для фона */
    color: var(--bs-body-color); /* Текст тоже зависит от темы */
    /* transition: 1s all ease-in; */
}

/* Стили для header */
header {
    height: 60px;
    width: 100%;
    position: sticky;
    top: 0;
    background-color: var(--bs-second-bg); /* #17161b */
    z-index: 10;
    box-shadow: 0px 5px 5px var(--bs-body-bg);
}

header .asside-left-h {
    display: flex;
    align-items: center;
    justify-content: start;
    width: 18%;
    padding-left: 10px;
}
header .asside-center-h {
    display: flex;
    flex: 1;
    overflow-y: auto;
    height: 100%;
    scrollbar-width: none;
    padding: 0px 10px;
    align-items: center;
    justify-content: center;
}
header .asside-right-h {
    display: flex;
    align-items: center;
    justify-content: end;
    width: 18%;
    padding-right: 10px;
}

.jost-custom {
    font-family: "Jost", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
    font-size: 30px;
    color: var(--bs-body-color);
}

.avatar{
    height: 70%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    border-radius: 10px;
}

/* Контейнер для header и main */
.container{
    display: flex;
    flex: 1;
    height: 100%;
    max-width: 100%;
    margin-right: auto;
    margin-left: auto;
}

/* Левый и правый ассайды */
.asside-left,
.asside-right {
    width: 18%;
    min-width: 180px;
    /* background-color: transparent; */
    padding-top: 10px;
}

/* Центр */
.asside-center{
    flex: 1;
    overflow-y: auto;
    height: calc(100vh - 60px);
    scrollbar-width: none;
    padding: 0px 10px;
    padding-top: 10px;
}

.asside-center::-webkit-scrollbar {
    display: none;
}

/* Стили для кнопок */
.btn{
    font-size: 14px;
    background-color: var(--bs-second-bg);
    padding: 10px 15px;
    outline: none;
    border: 1px solid var(--bs-second-bg);
    border-radius: 10px;
    color: var(--bs-white-color);
    transition: all .2s;
    width: 100%;
    min-width: 120px;
    text-align: center;
    cursor: pointer;
}
.btn.primary{
    background-color: var(--bs-accent-color);
    border: 1px solid var(--bs-accent-color);
}
.btn.secondary{
    border: 1px solid var(--bs-accent-color);
    color: var(--bs-accent-color);
}
.btn.danger{
    background-color: var(--bs-second-bg);
    border: 1px solid var(--bs-red-color);
    color: var(--bs-red-color);
}
.btn.dangerLarg{
    background-color: var(--bs-second-bg);
    padding: 15px 0px;
    border: 1px solid var(--bs-red-color);
    color: var(--bs-red-color);
}
.btn.warning{
    border: 1px solid var(--bs-warning-color);
    color: var(--bs-warning-color);
}
.btn.dark{
    background-color: var(--bs-second-bg);
    border: 1px solid var(--bs-second-bg);
    color: var(--bs-body-color);
}

.btn.primary:hover{
    background-color: var(--bs-accent-color-hover);
    border: 1px solid var(--bs-accent-color);
}
.btn.secondary:hover{
    background-color: var(--bs-accent-color);
    color: var(--bs-white-color);
}
.btn.danger:hover{
    background-color: var(--bs-red-color);
    color: var(--bs-white-color);
}
.btn.dangerLarg:hover{
    background-color: var(--bs-red-color);
    color: var(--bs-white-color);
}
.btn.warning:hover{
    background-color: var(--bs-warning-color);
    color: var(--bs-white-color);
}
.btn.dark:hover{
    background-color: var(--bs-second-bg);
    border: 1px solid var(--bs-body-color);
    color: var(--bs-body-color);
}
.btn.light:hover{
    border: 1px solid var(--bs-accent-color);
    color: var(--bs-accent-color);
}

.btn.primary:active{
    background-color: var(--bs-accent-color-hover);
    border: 1px solid var(--bs-accent-color-hover);
}
.btn.secondary:active{
    background-color: var(--bs-accent-color-hover);
    color: var(--bs-white-color);
}
.btn.danger:active{
    background-color: var(--bs-red-color-hover);
    color: var(--bs-white-color);
}
.btn.warning:active{
    background-color: var(--bs-warning-color-hover);
    color: var(--bs-white-color);
}
.btn.dark:active{
    background-color: var(--bs-second-bg);
    border: 1px solid var(--bs-body-color);
    color: var(--bs-body-color);
}
.btn.light:active{
    border: 1px solid var(--bs-accent-color-hover);
    color: var(--bs-accent-color-hover);
}

.group-btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    width: 100%;
    overflow-x: scroll; /* Включаем горизонтальную прокрутку */
    overflow-y: hidden; /* Убираем вертикальный скролл */
    scrollbar-width: none; /* Скрываем скроллбар в Firefox */
}
.group-btn::-webkit-scrollbar {
    display: none; /* Скрываем скроллбар в Chrome, Safari и Edge */
}
.group-btn > .btn {
    max-width: 130px;
}
.group-btn .accordion {
    flex-grow: 1;
}
.group-btn .accordion.show{
    background-color: var(--bs-second-bg);
    border: 1px solid var(--bs-body-color);
    color: var(--bs-body-color);
}
.end {
    margin-left: auto;
}


/* Боковое меню */
.menu{
    width: 100%;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.menu li {
    display: flex;
    align-items: center;
    font-size: 17px;
    line-height: 2;
    color: var(--bs-body-color);
    padding: 10px 15px;
    cursor: pointer;
    margin-bottom: 5px;
    border-radius: 10px;
}
.menu li.active {
    background-color: var(--bs-second-bg);
}
.menu li:hover {
    background-color: var(--bs-second-bg);
}
.menu li:active {
    background-color: var(--bs-second-bg-active);
}

.menu li span{
    margin-left: 15px;
}
.menu li img{
    height: 20px;
    width: 20px;
}

/* Стили Профиля */
.profile_header {
    color: var(--bs-white-color);
    width: 100%;
    margin: 0 auto;
    margin-bottom: 15px;
}

.profile_content {
    display: flex;
    justify-content: space-between; /* Разделяет элементы на максимальное расстояние */
    width: 100%;
    align-items: center;
}

.profile_header-main {
    display: flex;
    align-items: center;
    gap: 15px;
}

.profile_header-main .logo {
    width: 100px;
    height: 100px;
    border-radius: 10px;
    object-fit: cover;
}

.profile_header-main h1 {
    font-size: 24px;
    font-weight: bold;
    margin: 0;
    color: var(--bs-body-color);
}

.profile_header-main h3 {
    font-size: 17px;
    color: var(--bs-body-second-color);
}

.profile_block_info {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

._block_info {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--bs-second-bg);
    padding: 20px;
    border-radius: 15px;
    width: 100%;
    max-width: 120px;
    color: var(--bs-body-second-color);
}

._block_info span {
    font-size: 18px;
    font-weight: bold;
    color: var(--bs-body-color);
}

._block_info small {
    font-size: 14px;
    color: var(--bs-body-second-color);
}

/* Стили для поиска */
.input_{
    min-width: 100%;
    background-color: var(--bs-second-bg);
    padding: 10px 15px;
    outline: none;
    border: 1px solid var(--bs-second-bg);
    border-radius: 10px;
    color: var(--bs-body-second-color);
    transition: border .2s;
    margin-bottom: 15px;
}
.input_:hover{
    border: 1px solid var(--bs-accent-color-hover);
}
.input_:active, .input_:focus-visible{
    border: 1px solid var(--bs-accent-color);
    caret-color: var(--bs-accent-color);
}


/* Стили для Accordion */
.accordion-content {
    display: none;  
    margin-top: 10px;
}
.accordion-content.show {
    display: block;
}

/* Стили для страницы настройки */
.selected_themes {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Адаптивная сетка */
    gap: 10px;
    text-align: center;
}
.selected_theme_block{
    font-size: 17px;
    color: var(--bs-body-color);
}
.d-none{
    display: none;
}
.theme_block{
    text-align: start;
    border-radius: 10px;
    padding: 10px;
    outline: 1px solid var(--bs-second-bg);
    display:grid;
    justify-content: center;
    align-items: center;
    min-height: 200px;
    transition: .1s transform ease-in;
    cursor: pointer;
    margin-bottom: 5px;
    pointer-events: none;
    user-select: none;
}
.theme_block:hover{
    transform: scale(1.01);
}
.theme_block.dark{
    background-color: #161617;
}
.theme_block.dark span{
    font-size: 17px;
    color: #c9cccf;
    width: 100%;
}
.theme_block.dark a{
    color: #49e2c1;
    width: 100%;
}
.theme_block.dark button{
    min-width: 46px;
    height: 46px;
    background-color: #2d2d2d;
    border: none;
    border-radius: 8px;
    color: white;
    cursor: pointer;
    width: 100%;
}

.theme_block.light{
    background-color: #f1f3f5;
}
.theme_block.light span{
    font-size: 17px;
    color: #161617;
    width: 100%;
}
.theme_block.light a{
    color: #49e2c1;
    width: 100%;
}
.theme_block.light button{
    min-width: 46px;
    height: 46px;
    background-color: #b8b8b8;
    border: none;
    border-radius: 8px;
    color: #161617;
    cursor: pointer;
    width: 100%;
}
.dropdown{
    padding: 20px;
    color: var(--bs-body-color);
    font-size: 17px;
    display: flex;
    justify-content: space-between;
    background-color: var(--bs-second-bg);
    margin: 10px 0px;
    border-radius: 10px;
}
.dropdown select{
    background-color: var(--bs-second-bg);
    color: var(--bs-body-color);
    font-size: 14px;
    border: none;
    outline: none;
    text-align: end;
}
.dropdown select:hover{
    color: var(--bs-white-color);
}
.dropdown option{
    font-size: 14px;
}
.safety{
    padding: 20px;
    color: var(--bs-body-color);
    font-size: 17px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--bs-second-bg);
    margin: 10px 0px;
    border-radius: 10px;
}
.safety small{
    color: var(--bs-body-second-color);
    font-size: 14px;
    font-family: monospace;
}
.safety a{
    color: var(--bs-accent-color);
    font-size: 14px;
}
input[type="radio"] {
    appearance: none; /* Скрываем стандартный стиль радио */
    visibility: hidden; /* Либо скрываем визуально */
    position: absolute; /* Чтобы не занимал место в документе */
}
input[type="radio"]:checked + label .theme_block.dark {
    outline: 2px solid var(--bs-accent-color);
    box-shadow: 0px 0px 3px var(--bs-accent-color);
}
input[type="radio"]:checked + label .theme_block.light {
    outline: 2px solid var(--bs-accent-color);
    box-shadow: 0px 0px 3px var(--bs-accent-color);
}


/* Стили для чата */
.main-side{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-left: 1px solid var(--bs-second-bg);
    border-right: 1px solid var(--bs-second-bg);
    overflow: hidden;
}
.btn-svg, .btn-svg-exit{
    background-color: var(--bs-second-bg);
    border: none;
    outline: none;
    padding: 10px 15px;
}
.btn-svg img, .btn-svg-exit img{
    width: 20px;
    height: 20px;
}
nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: var(--bs-second-bg);
    box-shadow: 0px 5px 5px var(--bs-body-bg);
    z-index: 1000;
}

.user-header-info {
    background-color: var(--bs-second-bg);
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    padding: 6px;
    overflow: hidden; /* Обеспечивает, что содержимое не вылезает за пределы блока */
}
  
.user-header-info-logo {
    height: 48px;
    width: 48px;
    border-radius: 8px;
    margin-right: 10px;
}
  
.user-header-info div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1; /* Занимает оставшееся пространство */
    min-width: 0; /* Для предотвращения расширения блока */
}
  
.user-header-info p, .user-header-info span {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
  
.user-header-info p {
    font-size: 14px;
    font-weight: bold;
    color: var(--bs-body-color);
    margin: 0;
    padding-bottom: 5px;
}
  
.user-header-info span {
    font-size: 13px;
    color: var(--bs-body-second-color);
}

.chat {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    position: relative;
    overflow: hidden;
}
  
.date {
    width: 100%;
    text-align: center;
    margin: 20px auto;
}
  
.date_info {
    font-size: 12px;
    color: var(--bs-body-second-color);
}
  
.messages {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    overflow-y: auto;
    padding: 10px;
}
  
.message {
    max-width: 60%;
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 17px;
    color: var(--bs-body-color);
}
.lmessage {align-self: flex-start;}
.rmessage {align-self: flex-end;}
  
.message .mes{
    display: flex; /* Flexbox для содержимого */
    flex-direction: column;
    background-color: var(--bs-second-bg);
    padding: 10px;
    border-radius: 8px;
    position: relative; /* Отменить absolute */
    word-wrap: break-word;
}

.message small{
    font-size: 11px;
    color: var(--bs-body-color);
    margin-top: 5px;
    align-self: flex-end;
}
.message img{
    width: 100%;
    border-radius: 8px;
}

.option_block {
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: var(--bs-second-bg);
    z-index: 1000;
    box-shadow: 0px -5px 5px var(--bs-body-bg);
}
  
.option_block button {
    min-width: 46px;
    height: 46px;
    background-color: var(--bs-second-bg);
    border: none;
    border-radius: 8px;
    color: var(--bs-white-color);
    cursor: pointer;
}
.file{
    margin-right: 10px;
}
.emoji, .micro{
    margin-left: 10px;
}

.option_block button:hover{
    background-color: var(--bs-third-bg);
}


.option_block input{
    width: 100%;
    padding: 15px 10px;
    border-radius: 8px;
    background-color: var(--bs-second-bg);
    caret-color: var(--bs-body-color);
    color: var(--bs-body-color);
    border: none;
    outline: none;
}
.option_block input:focus{
    border: none;
    outline: none;
}
.option_block input:active, .option_block input:hover, .option_block input:focus{
    background-color: var(--bs-third-bg);
}


/* Адаптация */
@media (max-width: 496px) {
    .profile_content{
        display: grid;
        gap: 10px;
    }
}
@media (max-width: 745px) {
    .asside-right, .asside-left{ display: none; }
    .asside-center{ width: 100%; padding: 0px;}
}
@media (max-width: 992px) {
    .asside-right, header .asside-center-h{ display: none; }
    header .asside-left-h, header .asside-right-h { width: 100%; }
    .asside-center{ width: 100%; padding-top: 0px;}
    .main-side{ border-radius: 0px; }
    nav{ display: none; }
}
@media (min-width: 992px) {
    .container { max-width: 960px; }
}
@media (min-width: 1200px) {
    .container { max-width: 1140px; }
}
@media (min-width: 1400px) {
    .container { max-width: 1320px; }
}